<h1>Users</h1>
<% @users.each do |user| %>
  <div id="user_#{user.id}" class="index_user">
    <%= user.username %>
    <%= user.created_at %>
    <%= user.items_count %>
    <%= user.responses_count %>
  </div>
<% end %>
<%= paginate @users %>
